@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
}

.seach_icon--visible {
  opacity: 1;
  position: absolute;
  transition: all 250ms ease-in-out;
}
.seach_icon--invisible {
  opacity: 0;
  position: absolute;
  transform: rotate(90deg);
}

.back_icon--visible {
  opacity: 1;
  position: absolute;
  transition: all 250ms ease-in-out;
}
.back_icon--invisible {
  opacity: 0;
  position: absolute;
  transform: rotate(-90deg);
}

::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(11,20,26,.2);
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255,.1);
}